<footer>
    <div class="container">
        <div class="colaboradores">
            <h3>COLABORADORES</h3>
            <div class="colab">
                <img src="assets/image/nba.png" alt="NBA" height="80px">
                <img src="assets/image/jordan.png" alt="Jordan" height="80px">
                <img src="assets/image/nike.jpg" alt="Nike" height="50px" width="100px">
                <img src="assets/image/newera.png" alt="New Era" height="80px" width="110px">
                <img src="assets/image/fanatics.png" alt="Fanatics" height="80px" width="70px">
            </div>
        </div>
        
        <div class="social">
            <h3>REDES SOCIALES</h3>
            <div class="social-icons">
                <a href="#"><img src="assets/image/facebook.png" alt="Facebook" height="80px"></a>
                <a href="#"><img src="assets/image/twiter.jpg" alt="Twitter" height="80px"></a>
                <a href="#"><img src="assets/image/instagram.jpg" alt="Instagram" height="80px"></a>
                <a href="#"><img src="assets/image/tiktok.jpg" alt="TikTok" height="80px"></a>
                <a href="#"><img src="assets/image/youtube.jpg" alt="Youtube" height="80px"></a>

            </div>
        </div>
    </div>
</footer>
