<div class="mj">
<div class="container">
<h3 class="title">THE LEGEND IN FLIGHT</h3>
<h3 class="title">MICHAEL JORDAN</h3>
<p class="text">Nacido el 17 de febrero de 1963 en Brooklyn, Nueva York, es considerado por muchos como el mejor jugador de baloncesto de todos los tiempos. 
    Con una combinación única de habilidad atlética, determinación y liderazgo, Jordan llevó a los Bulls a ganar seis campeonatos de la NBA. Su capacidad para dominar tanto en el ataque como en la defensa le otorgó cinco premios MVP de la temporada regular y seis títulos de MVP de las Finales, estableciendo un estándar de excelencia que pocas veces ha sido igualado.
    </p >
</div>
<img class="jordanimg" src="assets/image/michaeljordan.jpg" alt="">

</div>
